VITE_APP_NAME=Plannance
VITE_API_BASE_URL=http://localhost:3000
VITE_ENABLE_DEBUG=false
VITE_GOOGLE_CLIENT_ID=
VITE_THEME_PRESET=Lara
VITE_THEME_PRIMARY=green
VITE_THEME_SURFACE=
VITE_MENU_MODE=static
VITE_LOCK_THEME=false
